/* Eric Meyer's CSS Reset */

html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    /* border: 1px solid gray; */
}

/* General */

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #000000;
    font-family: 'Roboto Mono', monospace;
    max-width: 1440px;
    margin: 0 auto;
}
h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 7rem;
}
section {
    padding: 4% 0;
}
a {
    text-decoration: none;
}
strong {
    font-weight: 700;
}
nav, .right h2, .right p, .main-text {
    font-size: 2.3rem;
    line-height: 1.2;
}
p {
    margin: 0 auto 3%;
}
p:last-child {
    margin-bottom: 0;
}

/* Header Section */
nav {
    padding: 3% 0;
}
nav a {
    display: inline-block;
    padding: 1% 0;
    width: 15%;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    transition: .3s;
}
nav a:hover {
    transform: scale(1.1);
}
.orange {
    background: #ff764e;
    margin-left: 15%;
}
.blue {
    background: #5ED3EB;
    margin: 0 11%;
}
.yellow {
    background: #FFCD69;
    margin-right: 15%;
}

/* Hero Section */
.hero {
    position: relative;
}
.left img {
    border-radius: 50%;
    width: 65%;
}
.left, .right {
    display: inline-block;
    text-align: center;
}
.left {
    width: 35%;
}
.right {
    width: 65%;
    position: absolute;
    padding-right: 8%;
}
h1 {
    padding: 3% 0;
}
h2 {
    padding: 2% 0;
}
.right p:last-child {
    max-width: 65%;
}

/* Main Text Section */
.main-text  {
    background: #DDB9A3;
    color: #fff;
    padding: 2%;
    text-align: center;
    margin: 0 4%;
}

/* Additional Info Section */
.additional-info .fire {
    margin-bottom: 5%;
}
.additional-info img {
    max-width: 10%;
    margin: 0 auto 2%;
    display: block;
    transition: .6s;
}
.additional-info img:hover {
    transform: rotate(360deg);
}
.additional-info p {
    max-width: 24%;
    text-align: center;
}



/* Background Image Section */
.footer-img {
    height: 40vh;
    background: url('assets/footer_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}



/* Footer Section */
footer {
    background: #F9E7DC;
}